div{
    width:100%;
    color: white;
    height: 800px;
    text-align: center;   
}
body{
    background: url("/assets/carimg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
button{
    margin-top: 350px
}